#project {
    background-color: rgb(108, 108, 122);
    border-top: 2px solid yellow;
}

.project-title {
    color: lightgreen;
    text-shadow: 1px 1px 1px black;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.project-card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.project-card:hover {
    transform: scale(1.1);
}

.btn-project {
    text-decoration: none;
    border: 1px solid black;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    width: 120px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: rgb(63, 60, 100);
    margin: auto;
}

.btn-project:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}