.about {
    background-color: rgb(108, 108, 122);
    padding-bottom: 20px;
}

.about-title {
    color: lightgreen;
    text-shadow: 1px 1px 1px black;
    margin-top: 50px;
}

.about-sosmed {
    color: black;
    margin-right: 10px;
}