* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(63, 60, 100);
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 1);
    border-bottom: 3px solid yellow;
}

.navbar-toggler {
    border: 1px solid white;
}

.sidebar {
    background-color: rgb(63, 60, 100);
    width: 300px !important;
}

.nav-title {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
    text-shadow: 1px 1px 2px black;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
}

.nav-link:hover {
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    transform: rotate(2deg);
}