.footer {
    background-color: rgb(63, 60, 100);
    color: white;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer .footer-logo {
    width: 80px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: rgb(0, 179, 255);
}

.footer .footer-text-wrapper {
    font-weight: 700;
    font-size: 14px;
}

.footer .footer-text-wrapper-2 {
    text-decoration: none;
    display: block;
    color: white;
    line-height: 30px;
    font-weight: 500;
}

.footer .footer-text-wrapper-2:hover {
    color: black;
    text-shadow: 0px 0px 20px rgb(255, 255, 255, 1);
} 